$color1: #abcdef;
$color2: #456;
$color3: #fff;

@function rem($var) {
  @return $var * 10;
}

%text {
  font-size: rem(10);
}

%text-bold {
  font-weight: bold;
}

// This comment is allowed

/**
 * This comment is allowed too
 */

.class {
  $block: &;

  display: block;
  color: $color1;
  transform: translate(1, 1) scale(3);

  &__block {
    background: $color2;
    width: 10px;
    height: 20rem;
    top: rem(.3em);
    left: rem(40pt);

    &--danger {
      @extend %text;
      @extend %text-bold;

      color: $color2;

      @include media(xs) {
        color: $color1;
      }
    }
  }

  // Tests for various selectors
  .is-active & {
    background: $color1;
  }

  [type='input'] {
    appearance: none;
  }

  &[disabled] {
    opacity: .5;
  }

  &,
  &:hover,
  &:active {
    text-decoration: none;
  }

  &:active {
    text-decoration: underline;
  }

  &::after {
    content: 'Hallo';
  }

  &:nth-child(n+1) {
    background-color: $color1;
  }

  &:not(.other-class) {
    background-color: $color1;
  }

  #{$block}:not(.other-class):nth-child(n+3):last-of-type::after & {
    // We may never write such a selector, but it's still valid
    background-color: $color1;
  }

  ~ .class {
    border: 1px solid $color1;
  }

  // Tests for conditionals
  @if ($color1 == 'true') {
    border: 1px solid $color2;
  } @else {
    border: 0;
  }
}
