
$color1:
  #abcdef;
$color2: #456;

@function rem($var) {
  @return $var * 10;
}

.class {
  display:block;
  color: $color1 ;
  background: green;
  transform: translate(1, 1)scale(3) rotate(45deg);
  &__block {
    background: $color2;
    width: 10px;
    height: 20meter;
    top: rem(0.3em);
    left: rem(40.0pt);
    border: none;


    &--danger {
      color: $color2 !important;

      &--oops {
        hello: truth;
      }
    }
  }
}

.empty-block {

}

.WrongClass- {
  width: 40px; height: 20px;

  &:::after {
    content: 'Hallo';
  }
}

#some-id {
  @media screen {
    color: $color1;
    color: rem($color1);
  }

  @if($color1 == "true") {
    border: 1px solid #cg0;
  }
  @else{
    border: 0;
  }
}
